html
    head
        title 
            =title
        link(href="/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    body
        ul.nav.nav-tabs
            each tab in tabs
                li(class={"active": tab.isActive(activePath)})
                    a(href=tab.path) 
                        =tab.title
        .container
            .well
                h1 
                    =title
            block content